local_url = jdbc:h2:file:~/.h2/web;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE;MODE=MYSQL;INIT=runscript from 'classpath:web.sql'
local_user = sa
local_pwd =

local_eova_url = jdbc:h2:file:~/.h2/eova;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE;MODE=MYSQL;INIT=runscript from 'classpath:eova.sql'
local_eova_user = sa
local_eova_pwd =

#oracle_url = jdbc:oracle:thin:@localhost:1521:orcl
#postgresql_url = jdbc:postgresql://172.16.4.56:5432/postgres
#h2_url = jdbc:h2:file:~/.h2/web;AUTO_SERVER=TRUE;DB_CLOSE_ON_EXIT=FALSE;DATABASE_TO_UPPER=FALSE;MODE=MySQL

domain_cdn = http://7xign9.com1.z0.glb.clouddn.com

showSql = true
devMode = true
